<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="HotkeySection" type="StarCatalog.HotkeySection, StarCatalog" />
  </configSections>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="PluginsFolder" value="Plugins"/>
    
    <!--Hotkeys-->
    <add key="PageView" value="Ctrl+W"/>
    <add key="SaveFile" value="Ctrl+W"/>
    <add key="OpenFile" value="Ctrl+Z"/>
    <add key="ReloadPlugins" value="Ctrl+X"/>
    <add key="Exit" value="Ctrl+E"/>
    
  </appSettings>
</configuration>